[package]
name = "lintal_java_parser"
version = "0.1.0"
edition = "2024"
rust-version = "1.92"
license = "MIT"

[lib]
doctest = false

[dependencies]
tree-sitter = "0.26"
tree-sitter-java = "0.23"

[dev-dependencies]
